<!DOCTYPE html>
<html>
<head>
	<title>SEO - Web Grades</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
  <link rel="stylesheet" type="text/css" href="css/topnav.css">
  <link rel="stylesheet" type="text/css" href="css/modal.css">
	<link rel="logo" href="img/SEO_logo.ico">
	<link href="https://fonts.googleapis.com/css?family=Anton|Overpass|Ubuntu|Dosis|Raleway" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="keywords" content="SEO,Assignment-SEO,SEO meaning,SERP,SEO expectation,SEO vs SEM,SEO strategies,SEO on-page,SEO,off-page">
  <meta name="description" content="Assignment 1,Assignment 2,Assignment 3, Activity 1, SEO Activities">
  <meta name="author" content="Christian Miguel Dorado">
</head>
<body bgcolor="FAEBD7">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="javascript/materialize.min.js"></script>

<div class="top-bar"><a href="/"><img  class="SEO" src="img/SEO_logo.ico" alt="logo" style="width: 70px; height: 67px;"  /></a>
<h4>Search Engine Optimization </h4></div>
<div class="topnav" id="myTopnav">
  <a href="/">Home</a>
  <a href="/contact">Contact</a>
  <a href="/ass2">SEO vs SEM</a>
  <a href="/ass3">On Page vs Off Page</a>
  <a href="/act1">Web Grades</a>
  <a href="/act2">URL Canonization</a>
  <a href="/netethics">Internet Ethics</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<script type="text/javascript" src =javascript/topnav.js></script>

<br>
<br>
<div class="centralized">
<h4>Tools in analyzing Site’s Mobile Responsive Design</h4>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Tools</div>
      <div class="collapsible-body"><span><p class="raleway"> https://website.grader.com</p><br>
      <p class="raleway"> http://nibbler.silktide.com</p><br>
      <p class="raleway"> http://www.seowebpageanalyzer.com</p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>
<h4> Website Grader</h4>
<br>
<img id="myImg" class="responsive-img" src="img/web_grader.png" alt = "Website Grader" style="width: 100%;height: 100%">
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway"> My site had a perfect score in responsiveness and security and almost in performance but the Search Engine Optimization lack some other components like putting the Headings and the Sitemap. I've learned this is very crucial because it is the main component in dealing with marketability if I where to rank it in a Search Engine.</p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>

<h4> Nibbler </h4>
<br>
<img id="myImg" class="responsive-img" src="img/nibbler.png" alt = "Nibbler" style="width: 100%;height: 100%">
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">In this site i was rated poorly by the analyzer, I had a 1.8 grade in marketability which lacks meta descriptions and any meta keywords that are missing, I think this is the reason why my site was poorly graded because the search bot cannot understand.</p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>
<h4>SEO Web Page Analyzer</h4>
<br>
<img id="myImg" class="responsive-img" src="img/seoanalyzer.png" alt= "SEO Web Page Analyzer" style="width: 100%;height: 100%">
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">The site got poor overall ratings because i failed to put meta descriptions, this is the cause why the search bot filed an error to my website because it cannot understand in dealing with the page.</p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>
<div id="fb-root" ></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="1" style="margin-left: 24%;margin-right: 17%"></div>
</div>

<div class="bottom-bar">

<p class="Raleway" align="center">doradomiguel35@gmail.com</p>
</div>
</body>
</html>