<!DOCTYPE html>
<html>
<head>
	<title> SEO - Assignment 2</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Anton|Overpass|Ubuntu|Dosis|Raleway" rel="stylesheet">
</head>
<body bgcolor="FAEBD7">

<div class="top-bar">ITELECT1 - Assignment 2 </div>
<ul>
  <li><a class="active" href="/">Assignment 1</a></li>
  <li><a class="active" href="/ass2">Assignment 2</a></li>
  <li><a class="active" href="https://github.com/doradomiguel35">GitHub Account</a></li>
 </ul>
  

<div class="back-attribute">
<font class="dosis"> In your own words, what is the difference between SEO and SEM? <br></font>
<img id="myImg" src="img/seo_vs_sem.jpg" style="width: 800px;height: 300px;">
<div id="myModal" class="modal"></div>
<script type="text/javascript" href="javascript/modal-image.js"></script>

<p class="raleway"> Search Engine Optimization focuses in maximizing the number of visitors in a particular website by ensuring the website stays at the top of the of the most viewed search results, it involves many strategies in keeping a particular website visible in different search results. Search Engine Marketing focuses more in advertising or promoting websites, by the help of SEO in keeping the website's visibility in search results, this would help SEM do it's part in advertising the website, in short SEO and SEM are part on each other's processes, both had the same goal which is to increase the visibility of the website on any search engine results. <br><br><br></p>

<font class="dosis"> Briefly discuss the following SEO strategies listed: <br> </font>
<p class="ubuntu"> 1. DOMAIN NAME STRATEGY</p>
<img id="myImg" src="img/domain_name.jpeg" style="width: 800px;height: 300px;">
<p class="raleway"> The purpose of a domain name strategy is to proactively protect your brand online by reducing the chance for others to use your brand name in their online activities, specifically, in their website URLs.<br><br><br></p>

<p class="ubuntu"> 2. LINKING STRATEGY </p>
<img id="myImg" src="img/linking_strat.png" style="width: 800px;height: 300px;">
<p class="raleway"> The landscape of SEO and link strategy is always changing, and today, the importance of building high-quality links has never been higher. The need to understand and implement high-quality campaigns is essential if you're going to compete and thrive online, and that isn't going to change any time soon.<br><br><br> </p>

<p class="ubuntu"> 3. KEYWORD STRATEGY </p>
<img id="myImg" src="img/keyword.jpg" style="width: 800px;height: 300px;">
<p class="raleway"> This are essential to developing winning search engine marketing campaigns. Your keyword strategy should involve selecting high-performing keywords that drive relevant traffic to your business. Choosing the right keywords for advertising can make all the difference in your campaigns, determining how well your advertisements rank on Google and other search engine platforms. <br><br><br></p>

<p class="ubuntu"> 4. TITLE TAGS STRATEGY </p>
<img id="myImg" src="img/title_tags.png" style="width: 800px;height: 300px;">
<p class="raleway"> Count your words carefully, the title tag is good in 70 characters, the search engine will show an ellipsis to indicate the the excess characters in the title tag has not been included anymore. One thing also is you have to put everything important first because, it's necessary to catch the attention of who's reading the title.</p>



</div>


</body>
</html>