<!DOCTYPE html>
<html>
<head>
	<title> SEO - Assignment 2</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Anton|Overpass|Ubuntu|Dosis|Raleway" rel="stylesheet">
</head>
<body bgcolor="FAEBD7">

<div class="top-bar">ITELECT1 - Assignment 2 </div>
<ul>
  <li><a class="active" href="/">Assignment 1</a></li>
  <li><a class="active" href="/ass2">Assignment 2</a></li>
  <li><a class="active" href="https://github.com/doradomiguel35">GitHub Account</a></li>
 </ul>
  

<div class="back-attribute">
<font class="dosis"> In your own words, what is the difference between SEO and SEM? <br></font>
<img id="myImg" src="img/seo_vs_sem.jpeg" style="width: 800px;height: 300px;">
<div id="myModal" class="modal"></div>
<script type="text/javascript" href="javascript/modal-image.js"></script>

<p class="raleway"> Search Engine Optimization focuses in maximizing the number of visitors in a particular website by ensuring the website stays at the top of the of the most viewed search results, it involves many strategies in keeping a particular website visible in different search results. Search Engine Marketing focuses more in advertising or promoting websites, by the help of SEO in keeping the website's visibility in search results, this would help SEM do it's part in advertising the website, in short SEO and SEM are part on each other's processes, both had the same goal which is to increase the visibility of the website on any search engine results. <br><br><br><br></p>

<font class="dosis"> Briefly discuss the following SEO strategies listed: <br> </font>

<img id="myImg" src="img/domain_name.jpeg" style="width: 800px;height: 600px;">



</div>


</body>
</html>