<!DOCTYPE html>
<html>
<head>
	<title> SEO - Assignment 1</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="icon" href="img/SEO_logo.ico">
	<link href="https://fonts.googleapis.com/css?family=Anton|Overpass|Ubuntu|Dosis|Raleway" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<body bgcolor="FAEBD7">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="javascript/materialize.min.js"></script>

	

<body bgcolor="FAEBD7">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="top-bar">ITELECT1 - Assignment 1 </div>
<ul class="nav">
  <li class="nav"><a class="active" href="/">Assignment 1</a></li>
  <li class="nav"><a class="active" href="/ass2">Assignment 2</a></li>
  <li class="nav"><a class="active" href="https://github.com/doradomiguel35">GitHub Account</a></li>
 </ul>
  

<div class="centralized">
<font class="dosis"> What's Search Engine Optimization? <br></font>

<img id="myImg" src="img/SEO.jpg" style="width: 100%;height: 100%;">
<div id="myModal" class="modal">
	<span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
	<img class="modal-content" id="img01">
	<div id="caption"></div>
</div>

<script type="text/javascript" src = "javascript/modal-image.js"></script>
<ul class="collapsible popout active" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Answer</div>
      <div class="collapsible-body"><span><p class="raleway"> Search engine optimization is a methodology of strategies, techniques and tactics used to increase the amount of visitors to a website by obtaining a high-ranking placement in the search results page of a search engine <br> </p><p class="raleway">Companies look to SEO to help gain more awareness and to make their company higher in the rank of a search engine. SEO is utilized through search engines such as Google, Yahoo, MSN, Bing, etc. Search engine optimization uses keywords that attract a user to the company.<br><br><br></p></span></div>
    </li>
</ul>

<font class="dosis"> Guidelines on how to read a Search Engine Results Page (SERP) <br></font>
<p class="ubuntu"> 1. CHECK OUT THE BIG TWO: ORGANIC AND PAY PER CLICK.</p>
<img id="myImg" class="SEO" src="img/1_7.jpg" style="width: 100%;height: 100%;">
<div id="myModal" class="modal">
	<span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
	<img class="modal-content" id="img01">
	<div id="caption"></div>
</div>
<script type="text/javascript" src = "javascript/modal-image.js"></script>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Answer</div>
      <div class="collapsible-body"><span><p class="raleway">Search results are mostly dominated by two particular indexes: the organic or natural search results, and the PPC (Pay Per Click) search results.<br></p>
	  <p class="raleway">The organic-results index is created by searchbots. For instance, Google uses something called a googlebot to retrieve pages.
	  The search results typically put ten results from the organic index into the search-results page, though, those results are often interspersed with other types of search results.<br><br> PPC ads are typically placed at the top of the search results (three or four results, though sometimes Google omits the top ads) and in a column to the right of the main search results.</p></span></div>
    </li>
</ul>

<p class="ubuntu">2. LOOK AT LOCAL RESULTS.<br></p>
<img id="myImg" class="SEO" src="img/2_7.jpg" style="width: 100%;height: 100%;">
<div id="myModal" class="modal">
	<span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
	<img class="modal-content" id="img01">
	<div id="caption"></div>
</div>
<script type="text/javascript" src = "javascript/modal-image.js"></script>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Answer</div>
      <div class="collapsible-body"><span><p class="raleway">There’s a relatively new type of result that has become incredibly important, with a huge presence in many search-results pages. Search Yahoo!, for instance, for the term personal injury attorney, and you may see something like the figure.<br></p></span></div>
    </li>
</ul>

<p class="ubuntu">3. CHECK OUT SHOPPING RESULTS.<br></p>
<img id="myImg" class="SEO" src="img/3_7.jpg" style="width: 100%;height: 100%;">
<div id="myModal" class="modal">
	<span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
	<img class="modal-content" id="img01">
	<div id="caption"></div>
</div>
<script type="text/javascript" src = "javascript/modal-image.js"></script>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Answer</div>
      <div class="collapsible-body"><span><p class="raleway"> It’s often not hard for the search engines to figure out when someone is quite likely searching for a product he may be interested in buying. When a search engine figures you may be looking for product information, it inserts product results typically with images into the search-results page.<br></p></span></div>
    </li>
</ul>

<p class="ubuntu">4. STAY CURRENT WITH NEWS RESULTS.<br></p>
<img id="myImg" class="SEO" src="img/4_7.jpg" style="width: 100%;height: 100%;">
<div id="myModal" class="modal"></div>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Answer</div>
      <div class="collapsible-body"><span><p class="raleway">Another significant search-result component is the news results. If the search engines think News results might be useful to you, based on your search — search for obama or just about any country name, for instance — then you’ll see News results embedded into the results page.<br></p></span></div>
    </li>
</ul>

<p class="ubuntu">5. VIEW VIDEO AND IMAGE RESULTS.<br></p>
<img id="myImg" class="SEO" src="img/5_7.jpg" style="width: 100%;height: 100%;">
<div id="myModal" class="modal"></div>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Answer</div>
      <div class="collapsible-body"><span><p class="raleway">You’ve almost certainly seen video and image results in the search engines. All three of the major search engines index Youtube.com (it’s owned by Google). But they index other sites, too, such as Vimeo.com, Vevo.com, and Metcafe.com. If you want to try getting your videos into the search results.<br><br><br></p></span></div>
    </li>
</ul>

<font class="dosis"> How SEO affects bussiness? </font>
<img id="myImg" class="SEO" src="img/bussiness_SEO.jpg" style="width: 100%;height: 100%;">
<div id="myModal" class="modal">
	<span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
	<img class="modal-content" id="img01">
	<div id="caption"></div>
</div>
<p class="raleway">Another significant search-result component is the news results. If the search engines think News results might be useful to you, based on your search — search for obama or just about any country name, for instance — then you’ll see News results embedded into the results page.<br></p>

<p class="ubuntu">5. VIEW VIDEO AND IMAGE RESULTS.<br></p>
<img id="myImg" class="SEO" src="img/5_7.jpg" style="width: 800px;height: 600px;">
<div id="myModal" class="modal">
	<span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
	<img class="modal-content" id="img01">
	<div id="caption"></div>
</div>
<p class="raleway">You’ve almost certainly seen video and image results in the search engines. All three of the major search engines index Youtube.com (it’s owned by Google). But they index other sites, too, such as Vimeo.com, Vevo.com, and Metcafe.com. If you want to try getting your videos into the search results.<br><br><br></p>


<font class="dosis"> How SEO affects bussiness? </font>
<img id="myImg" class="SEO" src="img/bussiness_SEO.jpg" style="width: 800px;height: 300px;">
<div id="myModal" class="modal">
	<span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
	<img class="modal-content" id="img01">
	<div id="caption"></div>
</div>
<script type="text/javascript" src = "javascript/modal-image.js"></script>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Answer</div>
      <div class="collapsible-body"><span><p class="raleway"> SEO makes it easier for people to have as much as information they would want as they would want regarding in the bussiness. The good news to this is it can help the bussiness obtain a tremendous reach, attract more targeted visitors and measures the impact of the bussiness's efforts in terms of a return in investments. <br><br>One of the downsides to SEO, however, is neglect of a site that has once been optimized. There exists the possibility of detouring on the website if the SEO has resulted in broken links. Broken links can cause frustration to shoppers as it makes shopping hard. In the bright side SEO is a great way to streamline website and gain popularity, thus making the overall business more valuable.<br><br><br></p></span></div>
    </li>
</ul>
<!-- <p class="raleway"> SEO makes it easier for people to have as much as information they would want as they would want regarding in the bussiness. The good news to this is it can help the bussiness obtain a tremendous reach, attract more targeted visitors and measures the impact of the bussiness's efforts in terms of a return in investments. <br><br>One of the downsides to SEO, however, is neglect of a site that has once been optimized. There exists the possibility of detouring on the website if the SEO has resulted in broken links. Broken links can cause frustration to shoppers as it makes shopping hard. In the bright side SEO is a great way to streamline website and gain popularity, thus making the overall business more valuable.<br><br><br></p>

 -->
<font class="dosis"> List some of important SEO expectations </font>
<img id="myImg" class="SEO" src="img/expect_SEO.jpeg" style="width: 100%;height: 100%;">
<ul class="collapsible popout " data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Answer</div>
      <div class="collapsible-body"><span>
      <ol>
		<p class="raleway"> <br><br>* It's a long time project</p>
		<p class="raleway"> * Research keywords</p>
		<p class="raleway"> * Build links </p>
		<p class="raleway"> * Creating contents </p>
		<p class="raleway"> * Resolve technical issues </p>
		<p class="raleway"> * Execute strategies </p>
		<p class="raleway"> * Search Engines are always changing </p>
	 </ol></span></div>
    </li>
</ul>


</div>
<br>
<br>
<div class="bottom-bar">
<p class="Raleway">doradomiguel35@gmail.com</p>
</div>


</body>
</html>