<!DOCTYPE html>
<html>
<head>
	<title>SEO - Assignment 3</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
  <link rel="stylesheet" type="text/css" href="css/topnav.css">
  <link rel="stylesheet" type="text/css" href="css/modal.css">
	<link rel="logo" href="img/SEO_logo.ico">
	<link href="https://fonts.googleapis.com/css?family=Anton|Overpass|Ubuntu|Dosis|Raleway" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="keywords" content="SEO,Assignment-SEO,SEO meaning,SERP,SEO expectation,SEO vs SEM,SEO strategies,SEO on-page,SEO,off-page">
  <meta name="description" content="Assignment 1,Assignment 2,Assignment 3, Activity 1, SEO Activities">
  <meta name="author" content="Christian Miguel Dorado">
</head>
<body bgcolor="FAEBD7">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="javascript/materialize.min.js"></script>


<div class="top-bar"><a href="/"><img  class="SEO" src="img/SEO_logo.ico" alt="logo" style="width: 70px; height: 70px;" /></a>
Search Engine Optimization</div>
<div class="topnav" id="myTopnav">
  <a href="/">What is SEO</a>
  <a href="/ass2">SEO vs SEM</a>
  <a href="/ass3">On Page vs Off Page</a>
  <a href="/act1">Web Grades</a>
  <a href="/act2">URL Canonization</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<script type="text/javascript" src =javascript/topnav.js></script>

<br>
<br>
<div class="centralized">
<h4>On Page SEO vs Off Page SEO<br></h4>
<img id="myImg" src="img/onoff_page.png" alt="On-Page Vs Off-Page" style="width: 100%;height: 400px;">
<div id="myModal" class="modal"></div>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">An On-page SEO is an act of optimizing different parts of the website that affect its search engine results, mostly its more on making the website as optimized as possible in a way that it gets found by the search engine's keywords, and ensuring the contents are what the users are looking for, on the other hand, an Off-page SEO focuses more in the techniques in improving the position of the website in the search engine result's page, it also focuses on increasing the authority of your domain through the act of getting links from other websites.<br><br></p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>

<h4>SEO guides for an On-Page technique <br><br></h4>
<img id="myImg" src="img/on_page.png" alt="on page" style="width: 100%;height: 400px;">
<div id="myModal" class="modal"></div>
<p class="ubuntu">1. Page Titles </p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">The page title is one of the most important SEO factors in a site. Each of the pages & posts have its own unique title, which includes the main keywords for that page.</p></span></div>
    </li> 
</ul>
<br>
<br>
<p class="ubuntu">2. Meta Descriptions </p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">These descriptions are an important place to include relevant keywords for the content, as these are used within the search results when your page is listed.</p></span></div>
    </li> 
</ul>
<br>
<br>
<p class="ubuntu">3. Meta Tags </p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">For each of the pages, it can include a set of keywords in the form of meta tags. These should be all the relevant keywords of the content. which has been researched previously.</p></span></div>
    </li> 
</ul>
<br>
<br>
<p class="ubuntu">4. URL Structure </p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">Including search engine friendly URLs for each of your pages is highly recommended, as these bring better crawling. Shorter URLs seem to perform better in search engine results, however that is not only the factor.</p></span></div>
    </li> 
</ul>
<br>
<br>
<p class="ubuntu">5. Body Tags </p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">When writing the articles, it should break up the content into smaller sections & paragraphs to make it easer for people to read. These sections can be given heading, which is where H1,H2,H3,H4 etc. tags are used.</p></span></div>
    </li>
</ul>
<br>
<br>
<p class="ubuntu">6. Keyword Density </p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">Including relevant keywords throughout the content is very important, as it helps search engines work out what the content is about. However, it's not a good idea to excessively repeat and overuse keywords just for search engine robots. This can lead to the site being banned from search engines.</p></span></div>
    </li>
</ul>
<br>
<br>
<p class="ubuntu">7. Image SEO </p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">Using images within the content is a great way to make the site more visually appealing and break up boring chunks of text. A good idea to to utilize these images to help improve the site SEO.<br><br>All the uploaded images have titles, so treat the site the same as the page titles. Including relevant keywords can help people find the site when searcing on Google Images.</p></span></div>
    </li>
</ul>
<br>
<br>
<p class="ubuntu">8. Internal Linking </p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">Placing links to other website pages, is a great way of improving the site and used properly, internal links can be a useful weapon in the SEO arsenal. Not only does it make it much easier for the visitors to navigate around the site and find all the content, but also it ensures that the site gets properly crawled alowing the search engines to find all of the pages.</p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>
<h4>Briefly discuss the following SEO guides for OFF-PAGE technique. <br><br></h4>
<img id="myImg" src="img/off_page.jpg" alt="off page" style="width: 100%;height: 400px;">
<div id="myModal" class="modal"></div>
<p class="ubuntu">1. Get Bloggin </p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">?Blogging is a great way for you to educate your readers on a more in-depth basis about the products and services your site offers.<br><br>Plus, you can get more traffic to your own blog by commenting, posting, and even writing posts for other blogs in your industry.</p></span></div>
    </li>
</ul> 
<br>
<br>
<p class="ubuntu">2. Get Into Online Reputation Management </p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">Reputation management is a critical off page SEO technique. It has to do with creating content pages and engaging with a variety of social networking websites and platforms.<br><br>This will allow the website to be seen by more people (always cross-post your blog posts and sales on social media pages) and will help the business’s page appear in the news feeds of other users.</p></span></div>
    </li>
</ul>
<br>
<br>
<p class="ubuntu">3. Don't Forget About Search Engine and Directory</p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">The site will eventually be indexed by a search engine – but does it really want to wait around for that?<br><br>Instead, go ahead and submit the website to search engines like Yahoo, Google, Excite, and other popular engines. It’s free, so why not?<br><br>Also make sure it's submitted to the site to a directory, like ZoomInfo, One Mission, Pegasus, and more.<br><br>Make sure you’ve chosen the most relevant category for the directory entry when submitting the site. The more specific it can be, the better!</p></span></div>
    </li>
</ul>
<br>
<br>
<p class="ubuntu">4. Share Photos and Videos</p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">Don’t shy away from publishing pictures of the products on the website, this makes them public. But why stop there?<br><br>Also publish the photos on external photo sharing sites like Photo Bucket, Flickr, and Picasa. Doing so will certainly help it to soar in the rankings.</p></span></div>
    </li>
</ul>
<br>
<br>
<p class="ubuntu">5. Write Guest Posts For Other Sites, And Share Your Documents</p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">Uploading and sharing the documents promotes transparency, lets interested parties learn more about the business, and is a great way to get information about the products and services out there.
      </p></span></div>
    </li>
</ul>
<br>
<br>
<p class="ubuntu">6. Get and Give Reviews</p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">It’s a great way for fresh eyes to learn about the business and what it offers, without being made to feel like they’re reading something that’s written by the company.<br><br>Online reviews promote transparency, and of course, it doesn’t hurt that they can boost the site in the Google ranks as well.
      </p></span></div>
    </li>
</ul>
<br>
<br>
<p class="ubuntu">7. Use Social Bookmarking</p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">Remember that the content of these bookmark websites has a pretty high turnover rate, so it's needed to post fairly frequently on them. Make sure, too, that it's paid special attention to the tags to increase web traffic to the site.</p></span></div>
    </li>
</ul>
<br>
<br>
<p class="ubuntu">8. Post in Forums</p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">It’s a great idea to create an online discussion board or forum within the website, but an even better idea to get involved in ones that are outside of the site.</p></span></div>
    </li>
</ul>
<br>
<br>
</div>
<div class="bottom-bar">
<p class="Raleway">doradomiguel35@gmail.com</p>
</div>
</body>
</html>