<!DOCTYPE html>
<html>
<head>
  <title>SEO - URL Canonicalization</title>
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" type="text/css" href="css/navbar.css">
  <link rel="stylesheet" type="text/css" href="css/topnav.css">
  <link rel="stylesheet" type="text/css" href="css/modal.css">
  <link rel="logo" href="img/SEO_logo.ico">
  <link href="https://fonts.googleapis.com/css?family=Anton|Overpass|Ubuntu|Dosis|Raleway" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="keywords" content="SEO,Assignment-SEO,SEO meaning,SERP,SEO expectation,SEO vs SEM,SEO strategies,SEO on-page,SEO,off-page">
  <meta name="description" content="Assignment 1,Assignment 2,Assignment 3, Activity 1, SEO Activities">
  <meta name="author" content="Christian Miguel Dorado">
</head>
<body bgcolor="FAEBD7">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="javascript/materialize.min.js"></script>


<div class="top-bar"><a href="/"><img  class="SEO" src="img/SEO_logo.ico" alt="logo" style="width: 70px; height: 67px;"  /></a>
<h4>Search Engine Optimization </h4></div>
<div class="topnav" id="myTopnav">
  <a href="/">Home</a>
  <a href="/contact">Contact</a>
  <a href="/ass2">SEO vs SEM</a>
  <a href="/ass3">On Page vs Off Page</a>
  <a href="/act1">Web Grades</a>
  <a href="/act2">URL Canonization</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<script type="text/javascript" src =javascript/topnav.js></script>

<br>
<br>
<div class="centralized">
<h4>What is URL Canonicalization?</h4>
<img id="myImg" class="responsive-img" src="img/canonical.jpg" alt ="URL Canonization" style="width: 100%;height: 100%">
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">It is a way to tell the search engine that a particular URL is known as the master of the copy page, by utilizing the canonical tag this will prevent the search bot in missing out your unique content, this happens because if the search bot finds too much duplicate content it may miss some important details and can cause a number of SEO problems. <br><br><br><br>Learn more about URL Canonicalization: <div class="links"><a href="http://seomust.herokuapp.com/#Chapter4"><p class="raleway">http://seomust.herokuapp.com/#Chapter4</p></a></div></p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>
<h4>What are HTTP Status Codes?</h4>
<img id="myImg" class="responsive-img" src="img/404.png" alt ="Error Code 404" style="width: 100%;height: 100%">
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class ="raleway">HTTP Status codes are 3 digit integers given by the web servers on the internet, this would identify the problem or error if a web page resource doesn't load properly.   <br><br><br><br>Learn more about HTTP Status Codes: <div class="links"><a href="http://thesearch.herokuapp.com/b5"><p class="raleway">http://thesearch.herokuapp.com/b5</p></a></div></p> </span></div>
    </li>
</ul>
<br><br><br><br>
<h4>On-Page SEO HTML Elements<br></h4>
<br>
<img id="myImg" class="responsive-img" src="img/html_elements.jpg" alt ="HTML Elements" style="width: 100%;height: 100%">
<br><br><br><br>
<p class="ubuntu"> 1. Title Tag </p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">The title tag specifies the title of the web page, it's displayed in the search engine result pages (SERP). It is important to have a unique web page title because it is the impression of most people if they happen to see your website in the search engine result's page. It doesn't matter if your site is well ranked, a good title is always important to keep the expectations of the person on what he/she is looking for. </p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>
<p class="ubuntu">2. Meta Description Tag</p>
 <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">The meta description tag is a 160 character snippet that summarizes a web page's content, it would let the user know what site he/she is about to click, hence called a description. It is located below the link of the website, it is good to have a good meta description because it would let the user confirm what he/she typed or if it is what the user is looking for. </p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>
<p class="ubuntu">3. Image </p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway">It's a good idea to put a little bit of life in your web page, it would be a great help to the user to understand the content even better, when putting an article it's very important to have an illustration about the article, thus the image is the right element for the job, it makes the page more interesting to read than having none but full of texts packed in to one or more paragraphs which would make it really boring and eye hurting.</p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>
<p class="ubuntu">4. Text Link</p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway"> Text links are texts that would direct the user to another website or to another page within the site, the user will be redirected to other page just by clicking, tapping or by hovering. Text links are also called Anchor texts, this would also determine the ranking of the website that would be received in search engines.  </p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>
<p class="ubuntu">5. NoFollowed Link</p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway"> NoFollow Links are HTML attributes that is used to instruct the search engine bot not to influence a certain hyperlink in the search engine's index, this would prevent and reduce the effectiveness of the certain types of search engine spam. </p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>
<p class="ubuntu">6. Image Link </p>
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway"> Image links are similar to hyperlinks only that when the user hovers the mouse pointer to the image it would be indicated as a clickable image in which it would redirect the user to another site or other parts of the current site the user is using. </p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>
<br>
<h4>SEO Hyperlinking Best Practices</h4>
<img id="myImg" class="responsive-img" src="img/best_practices.jpg" alt ="Hyperlinking Best Practices" style="width: 100%;height: 100%">
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway"> A good hyperlink can be very crucial to the website, the site relies on advertisement and popularity in order for it to go up on the ranks of the Search Engine Results Page (SERP). When putting links, it should be relevant to the content you have in your site, it's very inappropriate to put links which are not relevant to the content, this would cause a lot of misdiscrepancy and it would be misleading to the ones who are reading your content. Hyperlinks are very useful and adds more value of information into your website, it's very important to have a hyperlink that is natural to the reader, a link that is too relevant that the user wants to read more. <br><br><br> Learn more about Hyperlinking Best Practices:<div class="links"><a href="URLCanonicalization.html"><p class="raleway">https://allaboutseo.herokuapp.com/URLCanonicalization.html</p></a></div></p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>
<h4>What is Backlinking?</h4>
<img id="myImg" class="responsive-img" src="img/backlink.jpg" alt ="Hyperlinking Best Practices" style="width: 100%;height: 100%">
<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons">android</i>Click to Hide</div>
      <div class="collapsible-body"><span><p class="raleway"> Backlinks are links that would redirect the user to another webpage, this links the two webpages, backlinking is a major factor as to how a certain website rise up its ranks in the search engine, websites with a lot of backlinks tend to have higher ranks in the search engine. A backlink is tended to share each other's content by redirecting the user to other pages, this would cause the pages to be known and increase its rank in the search engine. An example of a backlink is the url below. <br><br><br> Learn more about backlinking<div class="links"><a href="https://allaboutseo.herokuapp.com/URLCanonicalization.html"><p class="raleway">https://allaboutseo.herokuapp.com/URLCanonicalization.html</p></a></div></p></span></div>
    </li>
</ul>
<br>
<br>
<br>
<br>
<div id="fb-root" ></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="1" style="margin-left: 24%;margin-right: 17%"></div>
</div>

<div class="bottom-bar">

<p class="Raleway" align="center">doradomiguel35@gmail.com</p>
</div>
</body>
</html>