<!DOCTYPE html>
<html>
<head>
	<title> SEO - Assignment 1</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link href="https://fonts.googleapis.com/css?family=Anton|Overpass" rel="stylesheet">
</head>
<body>
<font class="overpass"> What's Search Engine Optimization? <br></font></a>

<img id="myImg" class="SEO" src="SEO.jpg" style="width: 830px;height: 300px;">
<div id="myModal" class="modal"></div>
<script type="text/javascript" src = "modal-image.js"></script>
<p class="anton"> Search engine optimization is a methodology of strategies, techniques and tactics used to increase the amount of visitors to a website by obtaining a high-ranking placement in the search results page of a search engine <br> </p>

<p class="anton">Companies look to SEO to help gain more awareness and to make their company higher in the rank of a search engine. SEO is utilized through search engines such as Google, Yahoo, MSN, Bing, etc. Search engine optimization uses keywords that attract a user to the company.<br></p>



</body>
</html>