/* NAV BAR */
ul.nav {
    font-family: 'Raleway',sans-serif;
    font-size: 100%;
    list-style-type: none;
    margin-bottom: : 10px;
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-left: 5%;
    margin-right: 5%;
}li.nav {
    float: left;
}li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}li a:hover {
    background-color: #111;}